<div class="gallery-header">
  <a class="back-btn" routerLink="/home">
    <<<
  </a> | 
  <span class="gallery-name">{{galleryName}} - {{gallerySize}}</span>
</div>
<div class="gallery-container">
    <div class="image-container" *ngFor="let image of imageKeys" (click)="toggleExpand(image)">
      <img class="gallery-image" src="{{baseUrl}}{{image.Key}}">
    </div>
</div>

<div class="image-preview-container show" *ngIf="showModal" (click)="showModal=false">
  <div class="image-preview">
    <img class="preview-img" src="{{baseUrl}}{{selectedImage.Key}}" />
  </div>
</div>

