@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body
{
	background-color: #EBEBEB;
}

.header
{
	width: 100%;
	height: 400px;
	background-color: #5F5F5F;
}

.logo
{
	width: 900px; 
	display: block; 
	margin: auto;
	padding: 60px 0px 20px 0px;

}

.content-wrapper
{
	width: 100%;
}

.content
{
	width: 1200px;
	height: 1500px;
	display: block;
	margin: auto;
	margin-top: -40px;
	background: #98ADBB;
	box-shadow: 0px 6px 7px 3px rgba(0,0,0,0.50);
}

.footer-container
{
	width: 100%;
	background-color: #32434F;
}

.footer
{
	width: 1200px;
	height: 120px;
	display: block;
	margin: auto;

	font-size: 16px;
	color: #627F91;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 25px 40px 25px 30px;

}

.message
{
	line-height: 150px;
	padding: 0px;
	margin-top: -40px;

	font-size: 20px;
	text-align: right;
}

.bottom
{
	width: 100%;
	height: 15px;
	background-color: #212B31;
}