@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Cardo:700');

html, body{
    background-color: #292929 !important;
    height: 100%;
}

body{
    margin: 0px;
}


input, button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header-font{
    font-family: "Montserrat" , sans-serif;
}

.header-font.bold{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.base-font{
    font-family: "Cardo", serif;
}

p{
    font-family: "Cardo", serif;
}

input.input-field{
    height: 35px;
    padding: 0px 10px;
    font-family: "Cardo", serif;
    font-size: 18px;
    color: white;
    background-color: transparent;

    border-style: solid;
    border-width: 3px;
    border-color: white;

    text-align: center;
    letter-spacing: 3px;
    
}

button.btn{
    height: 41px;
    line-height: 33px;
    padding: 0px 15px;

    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-family: "Cardo", serif;
    font-size: 18px;
    letter-spacing: 3px;

    transition: all 0.5s ease;
}

button.btn:hover{
    cursor: pointer;
}

button.btn.primary{
    background-color: white;
    color: #171717;
}

button.btn.primary:hover{
    
}